/* 容器样式 */
.next-steps {
  margin-top: 3rem; /* 设置容器顶部外边距为3rem */
}

.next-steps .box {
  border: 1px solid var(--vp-c-bg-soft); /* 设置盒子的边框颜色 */
  background-color: var(--vp-c-bg-soft); /* 设置盒子的背景颜色 */
  padding: 28px 36px; /* 设置盒子的内边距，上下28px，左右36px */
  border-radius: 8px; /* 设置盒子的圆角半径为8px */
  font-size: 14px; /* 设置字体大小为14px */
  font-weight: 500; /* 设置字体粗细 */
  transition: /* 设置过渡效果 */
    border-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    /* 边框颜色过渡 */ color 0.5s,
    /* 颜色过渡 */ background-color 0.5s; /* 背景颜色过渡 */
}

.next-steps .box:hover {
  border-color: var(--vp-c-green-light); /* 鼠标悬停时边框颜色变化 */
  text-decoration: none; /* 确保悬停时无下划线 */
}

/* 链接样式 */
.next-steps-link {
  font-size: 18px; /* 设置字体大小为20px */
  line-height: 1.4; /* 设置行高为1.4 */
  letter-spacing: -0.02em; /* 设置字母间距为-0.02em */
  margin-bottom: 0.75em; /* 设置下外边距为0.75em */
  display: flex; /* 使用flex布局 */
  align-items: center; /* 垂直居中对齐 */
  color: var(--vp-c-brand-1); /* 设置字体颜色 */
  text-decoration: none; /* 移除下划线 */
}

.next-steps-link:hover {
  text-decoration: none; /* 确保悬停时无下划线 */
}

.next-steps-caption {
  margin-bottom: 0; /* 设置下外边距为0 */
  color: var(--vp-c-text-2); /* 设置字体颜色 */
  transition: color 0.5s; /* 设置颜色过渡效果 */
}

/* 图片样式 */
.next-steps-icon {
  margin-right: 8px; /* 设置右外边距为8px */
  height: 1em; /* 设置高度为1em，与文字高度一致 */
  width: auto; /* 保持宽高比 */
  vertical-align: middle; /* 垂直对齐文本中间 */
}

/* 盒子容器布局 */
.box-container {
  display: flex; /* 使用flex布局 */
  flex-wrap: wrap; /* 允许换行 */
  gap: 20px; /* 设置盒子之间的间距为20px */
  justify-content: flex-start; /* 确保盒子左对齐 */
}

.box-container .box {
  flex: 1 1 calc(33.333% - 20px); /* 确保盒子占据三列，并考虑间距 */
}

@media (max-width: 1024px) {
  .box-container .box {
    flex: 1 1 calc(50% - 20px); /* 在中等屏幕上，两列布局，并考虑间距 */
  }
}

@media (max-width: 768px) {
  .box-container .box {
    flex: 1 1 100%; /* 在小屏幕上，单列布局 */
    margin-bottom: 20px; /* 设置下外边距为20px */
  }
}
