/* Container styling */
.next-steps {
  margin-top: 3rem;
}

.next-steps .box {
  border: 1px solid var(--vp-c-bg-soft);
  background-color: var(--vp-c-bg-soft);
  padding: 28px 36px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  transition:
    border-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    color 0.5s,
    background-color 0.5s;
}

.next-steps .box:hover {
  border-color: var(--vp-c-green-light);
}

/* Link styling */
.next-steps-link {
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  margin-bottom: 0.75em;
  display: block;
  color: var(--vp-c-brand-1);
}

.next-steps-caption {
  margin-bottom: 0;
  color: var(--vp-c-text-2);
  transition: color 0.5s;
}

/* Container for boxes */
.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-container .box {
  flex: 0 32%; /* default 3 column */
}

@media (max-width: 768px) {
  .box-container .box {
    flex: 0 100%;
    margin-bottom: 20px;
  }
}
