/* markdown图片明暗设置 */

:root:not(.dark) .dark-only {
  display: none;
}

:root:is(.dark) .light-only {
  display: none;
}

:root:not(.dark) img[src$='#dark'] {
  display: none;
}

:root:is(.dark) img[src$='#light'] {
  display: none;
}

/* 图片放大 */
.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image--opened {
  z-index: 31;
}
