/* 页脚 */
footer {
  width: 100%;
}

footer a:hover {
  text-decoration: underline;
}

.has-sidebar ~ footer {
  display: none;
}

.external-link::after {
  content: '  ↗️';
  /* margin-left: 2px; */
  color: var(--vp-c-text-3);
}

.bg-alt {
  background: var(--vp-c-bg-alt);
}

.lh-normal {
  line-height: normal;
}

.flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.ma4 {
  margin: 1.5rem;
}
.ma2 {
  margin: 1rem;
}
.ml0 {
  margin-left: 0.5rem;
}

.ml1 {
  margin-left: 1rem;
}
.mb2 {
  margin-bottom: 0.5rem;
}

.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 13px;
}

.fw6 {
  font-weight: 600;
}

.fb6 {
  flex-basis: 20rem;
}

@media screen and (min-width: 960px) {
  .flex-l {
    display: flex;
  }
}
