:root {
    --vp-layout-max-width: 1440px;
}

:root {
    --vp-c-brand-1: var(--vp-c-green-1);
    --vp-c-brand-2: var(--vp-c-green-2);
    --vp-c-brand-3: var(--vp-c-green-3);
    --vp-c-brand-soft: var(--vp-c-green-soft);
}

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #508ddd 30%, #3cc690);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #508ddd 50%, #3cc690 50%);
    --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(72px);
    }
}

/* .VPDoc.has-aside .content-container[data-v-10119189] {
    max-width: 680px;
} */